<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
 </head>

 <body>
    <div class="card border-primary mb-3" style="max-width: 100rem;">          
        <div class="card card-block d-flex" style="height: 37rem">
            <div class="card-body align-items-center d-flex justify-content-center">
          <form action="" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="usr">Username:</label>
                <input type="text" class="form-control" id="usr" name="username">
              </div>
              <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" name="password">
              </div>
              <button type="submit" class="btn btn-warning">Submit</button>
          </form>
        </div>
      </div>
      
</body>
</html>
